# Backend
BACKEND_HOST         = localhost
BACKEND_PORT         = 3000
BACKEND_CORS_ORIGINS = http://localhost, https://localhost, https://localhost:8080, http://localhost:8080

# Database
DB_HOST = localhost
DB_PORT = 5432
DB_USER = postgres
DB_PASS = postgres
DB_NAME = db

# S3
S3_REGION            = us-east-1
S3_BUCKET            = flallet
S3_ENDPOINT          = https://flaiers.s3.amazonaws.com
S3_ACCESS_KEY        = ...
S3_SECRET_ACCESS_KEY = ...
